@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">A place to store your jokes..</h1>
    <p>If you want an account, hit me up at abel97.ag@gmail.com</p>
</div>
