@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">A place to store your jokes..</h1>
    <p>If you want an account, hit me up at abel97.ag@gmail.com</p>

    <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExb3YzemkydGxxcW1wanY2ZzZ0amp3OXYxbXZhcGtxOWJ0YXhoaXE5ZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xUPGGDNsLvqsBOhuU0/giphy.gif"
         alt="Cool Animation" class="mx-auto w-64 h-64 rounded-lg">

</div>


